.hamburger {
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}
#toggle {
  display: none;
}
.hamburger div {
  position: relative;
  width: 2.5em;
  height: 5px;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
